In [2]:
#importing libraries 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#importing data from csv file

df = pd.read_csv(r"C:\Users\Mansi\Downloads\Crop Production data.csv", encoding= 'unicode_escape')

In [4]:
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [5]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [6]:
df.tail()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [7]:
df.shape

(246091, 7)

In [8]:
df.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [9]:
df.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [10]:
# Since we have approximately 246091 rows out of which 3730 are null vlaues, so we can drop these rows for better analysis

df.dropna(inplace=True)

In [11]:
df.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [12]:
#Checking unique values in 'Season' ,'Crop' ,'State_Name'
df.Season.unique()

array(['Kharif     ', 'Whole Year ', 'Autumn     ', 'Rabi       ',
       'Summer     ', 'Winter     '], dtype=object)

In [13]:
df.Crop.unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut ', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green Gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(lint)', 'Horse-gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other  Rabi pulses', 'Soyabean', 'Beans & Mutter(Vegetable)',
       'Bhindi', 'Brinjal', 'Citrus Fruit', 'Cucumber', 'Grapes', 'Mango',
       'Orange', 'other fibres', 'Other Fresh Fruits', 'Other Vegetables',
       'Papaya', 'Pome Fruit', 'Tomato', 'Mesta', 'Cowpea(Lobia)',
       'Lemon', 'Pome Granet', 'Sapota', 'Cabbage', 'Rapeseed &Mustard',
       'Peas  (vegetable)', 'Niger seed', 'Bottle Gourd', 'Varagu',
       'Garlic', 'Ginger', 'Oilseeds total', 'Pulses total', 'Jute',
       'Peas & beans (Pulses)', 'Blackgram', 'Paddy', 'Pineapple',
       'Barley', 'Sannhamp', 'Khesari', 'Guar seed', 'Moth',
       'Other Cereals & Millets', 'Cond-spcs other', 'Turnip', 'Carrot',
       'Redish', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Cardamom', 'Rubber',
       'Bitter Gourd', 'Drum Stick', 'Jack Fruit', 'Snak Guard', 'Tea',
       'Coffee', 'Cauliflower', 'Other Citrus Fruit', 'Water Melon',
       'Total foodgrain', 'Kapas', 'Colocosia', 'Lentil', 'Bean',
       'Jobster', 'Perilla', 'Rajmash Kholar', 'Ricebean (nagadal)',
       'Ash Gourd', 'Beet Root', 'Lab-Lab', 'Ribed Guard', 'Yam',
       'Pump Kin', 'Apple', 'Peach', 'Pear', 'Plums', 'Litchi', 'Ber',
       'Other Dry Fruit', 'Jute & mesta'], dtype=object)

In [14]:
df.State_Name.unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir ', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana ',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [15]:
# Removing if any whitespaces from columns 
df['Season'] = df['Season'].apply(lambda x: x.strip())
df['Crop'] = df['Crop'].apply(lambda x: x.strip())
df['State_Name'] = df['State_Name'].apply(lambda x: x.strip())

In [16]:
# After removing whitespaces
df.Season.unique()

array(['Kharif', 'Whole Year', 'Autumn', 'Rabi', 'Summer', 'Winter'],
      dtype=object)

In [17]:
df.Crop.unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green Gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(lint)', 'Horse-gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other  Rabi pulses', 'Soyabean', 'Beans & Mutter(Vegetable)',
       'Bhindi', 'Brinjal', 'Citrus Fruit', 'Cucumber', 'Grapes', 'Mango',
       'Orange', 'other fibres', 'Other Fresh Fruits', 'Other Vegetables',
       'Papaya', 'Pome Fruit', 'Tomato', 'Mesta', 'Cowpea(Lobia)',
       'Lemon', 'Pome Granet', 'Sapota', 'Cabbage', 'Rapeseed &Mustard',
       'Peas  (vegetable)', 'Niger seed', 'Bottle Gourd', 'Varagu',
       'Garlic', 'Ginger', 'Oilseeds total', 'Pulses total', 'Jute',
       'Peas & beans (Pulses)', 'Blackgram', 'Paddy', 'Pineapple',
       'Barley', 'Sannhamp', 'Khesari', 'Guar seed', 'Moth',
       'Other Cereals & Millets', 'Cond-spcs other', 'Turnip', 'Carrot',
       'Redish', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Cardamom', 'Rubber',
       'Bitter Gourd', 'Drum Stick', 'Jack Fruit', 'Snak Guard', 'Tea',
       'Coffee', 'Cauliflower', 'Other Citrus Fruit', 'Water Melon',
       'Total foodgrain', 'Kapas', 'Colocosia', 'Lentil', 'Bean',
       'Jobster', 'Perilla', 'Rajmash Kholar', 'Ricebean (nagadal)',
       'Ash Gourd', 'Beet Root', 'Lab-Lab', 'Ribed Guard', 'Yam',
       'Pump Kin', 'Apple', 'Peach', 'Pear', 'Plums', 'Litchi', 'Ber',
       'Other Dry Fruit', 'Jute & mesta'], dtype=object)

In [18]:
df.State_Name.unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Goa', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand',
       'Karnataka', 'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [19]:
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [20]:
#checking the countof occurences of each unique value in 'Season'

df['Season'].value_counts()

Season
Kharif        94283
Rabi          66160
Whole Year    56127
Summer        14811
Winter         6050
Autumn         4930
Name: count, dtype: int64

In [21]:
#Removing values of Production column which contains 0 and still represents the production of whole district 
#Dropping all rows which contains Production column value as 0

df.drop(df[df['Production']==0].index,inplace=True)
print(f'After removing row which has 0 Production : {df.shape[0]}')

After removing row which has 0 Production : 238838

In [22]:
# Checking unique crop names, as earlier it was been seen that some of the crop names have their synonyms 

df.Crop.unique()

array(['Arecanut', 'Other Kharif pulses', 'Rice', 'Banana', 'Cashewnut',
       'Coconut', 'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Black pepper', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Moong(Green Gram)', 'Urad', 'Arhar/Tur', 'Groundnut',
       'Sunflower', 'Bajra', 'Castor seed', 'Cotton(lint)', 'Horse-gram',
       'Jowar', 'Korra', 'Ragi', 'Tobacco', 'Gram', 'Wheat', 'Masoor',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Samai', 'Small millets', 'Coriander', 'Potato',
       'Other  Rabi pulses', 'Beans & Mutter(Vegetable)', 'Bhindi',
       'Brinjal', 'Citrus Fruit', 'Grapes', 'Mango', 'Orange',
       'Other Fresh Fruits', 'Papaya', 'Pome Fruit', 'Tomato', 'Soyabean',
       'Mesta', 'Cowpea(Lobia)', 'Lemon', 'Pome Granet', 'Sapota',
       'Cabbage', 'Rapeseed &Mustard', 'Niger seed', 'Varagu', 'Garlic',
       'Ginger', 'Oilseeds total', 'Pulses total', 'Jute',
       'Peas & beans (Pulses)', 'Blackgram', 'Paddy', 'Pineapple',
       'Barley', 'Sannhamp', 'Khesari', 'Guar seed', 'Other Vegetables',
       'Moth', 'Other Cereals & Millets', 'Cond-spcs other', 'Turnip',
       'Carrot', 'Redish', 'Arcanut (Processed)', 'Atcanut (Raw)',
       'Cashewnut Processed', 'Cashewnut Raw', 'Cardamom', 'Rubber',
       'Drum Stick', 'Jack Fruit', 'Tea', 'Coffee', 'Total foodgrain',
       'Cauliflower', 'Bitter Gourd', 'Bottle Gourd', 'Kapas',
       'Colocosia', 'Lentil', 'Bean', 'Jobster', 'Perilla',
       'Rajmash Kholar', 'Ricebean (nagadal)', 'Jute & mesta'],
      dtype=object)

In [23]:
df['Crop'] = df['Crop'].apply(lambda x:x.replace('kapas','Cotton(lint)').replace('Cotton(lint)','Cotton'))
df.replace('Jute & mesta', 'Jute', inplace=True)
df.replace('Mesta','Jute',inplace=True)
df.replace('Mesta','Jute',inplace=True)

In [24]:
#Replacing sub-category of pulses with pulses

df['Crop'] = df['Crop'].apply(lambda X:X.replace('Other Kharif pulses', 'pulses')
                             .replace('Other Rabi pulses', 'pulses')
                             .replace('Other misc. pulses', 'pulses')
                             .replace('Pulses total', 'pulses')
                             .replace('Peas & beans (Pulses)', 'pulses')
                             .replace('Moong(Green Gram)', 'pulses')
                             .replace('Urad', 'pulses')
                             .replace('Rajmash Kholar', 'pulses')
                             .replace('Horse-gram', 'pulses')
                             .replace('Khesari', 'pulses')
                             .replace('Masoor', 'pulses')
                             .replace('Lentil', 'pulses')
                             .replace('Ricebean (nagadal)', 'pulses')
                             .replace('Bean', 'pulses')
                             .replace('Arhar/Tur', 'pulses'))

In [25]:
#Replacing variety of spices names with other spices

df['Crop'] = df['Crop'].apply(lambda x:x.replace('Black pepper', 'Other Spices')
                             .replace('Cardamom','Other Spices')
                              .replace('Perilla','Other Spices'))

In [26]:
# Correcting spelling mistakes in crop names
df['Crop'] = df['Crop'].apply(lambda x:x.replace('Atcanut (Raw)', 'Arecanut')
                              .replace('Arcanut (Processed)','Arecanut'))

In [27]:
#Replacing sub-category of fruits into one category as Fruits

df['Crop'] = df['Crop'].apply(lambda x:x.replace('Lemon','Fruits')
                             .replace('Mango','Fruits')
                             .replace('Papaya','Fruits')
                             .replace('Other Fresh Fruits','Fruits')
                             .replace('Orange','Fruits')
                             .replace('Pineapple','Fruits')
                             .replace('Citrus Fruit','Fruits')
                             .replace('Pome Fruit','Fruits')
                             .replace('Grapes','Fruits')
                             .replace('Jack Fruit','Fruits')
                             .replace('Sapota','Fruits')
                             .replace('Pome Granet','Fruits'))

In [28]:
df['Crop'] = df['Crop'].apply(lambda x:x.replace('Cashewnut Raw','Cashewnut')
                             .replace('Cashewnut Processed','Cashewnut'))

In [29]:
#Replacing sub-category of grams with their main category

df['Crop'] = df['Crop'].apply(lambda x:x.replace('black gram','gram')
                             .replace('Moth','gram')
                             .replace('Blackgram','gram'))

In [30]:
#Replacing sub-category of Oilseeds to other oilseeds

df['Crop'] = df['Crop'].apply(lambda x:x.replace('Oilseeds total','other oilseeds')
                             .replace('Niger seed','other oilseeds'))

In [31]:
#Replacing sub-category of millets with their main-category

df['Crop'] = df['Crop'].apply(lambda x:x.replace('Other Cereals & Millets','Bajra')
                             .replace('Samai','Bajra')
                             .replace('Small millets','Bajra')
                             .replace('Ragi','Bajra')
                             .replace('Varagu','Bajra'))

In [32]:
#Replacing sub-category of vegetables with their main-category

df['Crop'] = df['Crop'].apply(lambda x:x.replace('Redish','Other Vegetables')
                             .replace('Redish','Other Vegetables')
                             .replace('Corainder','Other Vegetables')
                             .replace('Bhindi','Other Vegetables')
                             .replace('Tomato','Other Vegetables')
                             .replace('Cabbage','Other Vegetables')
                             .replace('Carrot','Other Vegetables')
                             .replace('Drum Stick','Other Vegetables')
                             .replace('Cauliflower','Other Vegetables')
                             .replace('Brinjal','Other Vegetables')
                             .replace('Bitter Gourd','Other Vegetables')
                             .replace('Bottle Gourd','Other Vegetables')
                             .replace('Colocosia','Other Vegetables')
                             .replace('Cowpea (Lobia)','Other Vegetables')
                             .replace('pulsess & Mutter (Vegetable)','Other Vegetables'))

In [33]:
df['Crop'] = df['Crop'].apply(lambda x:x.replace('Korra','Total foodgrain')
                              .replace('Paddy','Rice')
                              .replace('Niger seed','Sesamum'))

In [34]:
df.Crop.unique()

array(['Arecanut', 'pulses', 'Rice', 'Banana', 'Cashewnut', 'Coconut',
       'Dry ginger', 'Sugarcane', 'Sweet potato', 'Tapioca',
       'Other Spices', 'Dry chillies', 'other oilseeds', 'Turmeric',
       'Maize', 'Groundnut', 'Sunflower', 'Bajra', 'Castor seed',
       'Cotton', 'Jowar', 'Total foodgrain', 'Tobacco', 'Gram', 'Wheat',
       'Sesamum', 'Linseed', 'Safflower', 'Onion', 'other misc. pulses',
       'Coriander', 'Potato', 'Other  Rabi pulses',
       'pulsess & Mutter(Vegetable)', 'Other Vegetables', 'Fruits',
       'Soyabean', 'Jute', 'Cowpea(Lobia)', 'Rapeseed &Mustard', 'Garlic',
       'Ginger', 'gram', 'Barley', 'Sannhamp', 'Guar seed',
       'Cond-spcs other', 'Turnip', 'Rubber', 'Tea', 'Coffee', 'Kapas',
       'Jobster'], dtype=object)

In [35]:
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [36]:
# Calculating Production per Area
df['Production_per_Area'] = df['Production'] / df['Area']

In [41]:
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Production_per_Area
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,1.594896
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,pulses,2.0,1.0,0.500000
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,3.147059
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,3.642045
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,0.229167
...,...,...,...,...,...,...,...,...
238833,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0,2.617647
238834,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0,0.738437
238835,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0,50.154321
238836,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0,2.141848
238837,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0,0.502857

In [42]:
# Saving cleaned data into csv file 

df.to_csv('crop_cleaned_data.csv')